In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
lts = pd.read_csv('data/lts_y.csv')

lts['LTS-reverse'] = 5 - lts.LTS

In [5]:
def digitize(arr, nbins):
    bins = np.linspace(0.999999, 5.00001, nbins+1)
    return np.digitize(arr, bins)

In [18]:

csl = pd.read_csv('data/y_csl_all-2017-11-07.csv')
csl['csl5'] = digitize(csl.csl, 5)
csl['csl4'] = digitize(csl.csl, 4)

mg = csl.merge(lts)
mg['csl4==LTS'] = mg.csl4==mg['LTS-reverse']
print(mg['csl4==LTS'].value_counts())

gb = mg.groupby(['LTS-reverse', 'csl4']).count()[['index_seg']].reset_index()
gb.columns=list(gb.columns[:2])+['cnt']
stat = pd.pivot_table(gb, index='csl4', columns='LTS-reverse', values='cnt')
# stat.apply(lambda x: x/x.sum(), axis=1)
stat

False    319
True     125
Name: csl4==LTS, dtype: int64

LTS-reverse  1.0  2.0  3.0  4.0
csl4
1             21    2    1    1
2             98   51   18    8
3             38   97   38   40
4              3   10    3   15

In [79]:

csl = pd.read_csv('data/y_csl_all-2017-10-01.csv')
csl['csl5'] = digitize(csl.csl, 5)
csl['csl4'] = digitize(csl.csl, 4)

mg = csl.merge(lts)
mg['csl4==LTS'] = mg.csl4==mg.LTS
print(mg['csl4==LTS'].value_counts())

gb = mg.groupby(['csl4==LTS', 'csl4']).count()[['index_seg']].reset_index()
gb.columns=list(gb.columns[:2])+['cnt']
stat = pd.pivot_table(gb, index='csl4', columns='csl4==LTS', values='cnt')
stat.apply(lambda x: x/x.sum(), axis=1)

False    323
True     113
Name: csl4==LTS, dtype: int64

csl4==LTS     False     True
csl4
1          0.974359  0.025641
2          0.893750  0.106250
3          0.559406  0.440594
4          0.828571  0.171429